{% extends "layout.html"%}{% block title %} Account List {% endblock %} 
{% block menu %} 거래처 목록 {% endblock %} {% block content %}
<div class="wrap" style="display: flex; justify-content: space-around;flex-wrap:wrap;">
  {% for account in accounts %}
  <div id="account_list" style="display: inline-block; margin-bottom: 3rem;" class="col-md-4"">
    <div id="account_name"><a href="{% url 'shop:account_detail' account.pk%}">{{account.name}}</a></div>
    <div id="account_call">{{account.call}}</div>
    <div id="account_address">{{account.address}}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}